/*nav{
  display: block;
  height: 3%;
  background-color: grey;
  position: fixed;
  width: 100%;
}
form {
  display: block;
  position: absolute;
  margin-top: 10%;
}
div{
  position: relative;
}*/

body * {
    padding: 10px;
    /*border: 1px solid black;*/
}

body {
    box-sizing: border-box;
    margin: 0;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #EEEEEE;
    border-bottom: 1px solid grey;
}

.gregs-list, .links {
    display: inline-block;
    /*font-size: 20%;*/
}

.gregs-list {
    font-size: 150%;
}

.links {
    font-size: 125%;
    position: relative;
    right: -60%;
}

form label {
    margin-top: 70px;
    display: block;
    margin-left: -1%;
}

form input, form img {
    display: inline-block;
    height: 17px;
}

form input {
    font-size: 90%;
    border-radius: 3px;
    width: 400px;
    border: 2px solid grey;
}

form img {
    height: 17px;
    width: 17px;
    border: 2px solid grey;
    border-radius: 5px;
    position: absolute;
    left: 54%;
}

.nav-links {
    font-size: 0;
    background-color: white;
    margin-top: 1%;
    border-radius: 3px;
}

.nav-links div {
    border-radius: 3px;
    border: solid 1px black;
}

.spans {
    margin-top: 5%;
}

a:link {
    color: black;
}

.nav-links a {
    text-decoration: none;
}

.prev, .out-of, .next {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.prev a, .out-of span, .next a {
    font-size: 18px;
}

.tech, .fron, .seni {
    font-size: 15px;
    color: blue;
    font-family: sans-serif;
}

.june-20, .june-21, .june-22, .flat, .soho, .midt {
    color: grey;
}
