/*nav{
  display: block;
  height: 3%;
  background-color: grey;
  position: fixed;
  width: 100%;
}
form {
  display: block;
  position: absolute;
  margin-top: 10%;
}
div{
  position: relative;
}*/

body * {
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

body {
    box-sizing: border-box;
}

nav {
    /*position: fixed;*/
    /*width: 100%;*/
    background-color: grey;
}

.gregs-list, .links {
    display: inline-block;
}

.links {
    position: relative;
    right: -43%;
}


form label{
    display: block;
}
form input, form button {
    display: inline-block;
}
